.wrapper {
    display: flex;
    justify-content: center;
    background-color: #c2e3e9;
    margin: 0 auto;
    width: 100vw;
    height: 2vh;
    padding: 20px;
    font-size: 20px;
}

.wrapper a{
    text-decoration: none;
    padding: 0px 5px;
    font-size: 18px;
    color: #98C379;
}